body {
    margin: 0 auto;
}

header {
    width: 100%;
    position: absolute;
    text-align: center;

    .inner1 {
        // width: 1170px;
        width: 85%;
        margin: 0 auto;
        padding-top: 52px;
        display: flex;
        justify-content: space-between;
    }
}
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    #logo {
        margin-left: 0;
        margin-right: 30px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        @media screen and (max-width: 894px) {
            display: none;
        }
        a {
            text-decoration: none;
            margin-left: 20px;
            font-size: 14px;
            font-family: "GothamBook";
            color: white;
            vertical-align: middle;
            text-transform: uppercase;
        }
        a:active,
        a:hover {
            font-family: "gothambold1";
        }
    }
    .nav-open {
        display: flex;
        flex-direction: column;
        text-align: right;
        z-index: 1;
        a {
            padding: 7px;
        }
    }
}

.social {
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: white 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin-left: 20px;

        .fab {
            font-size: 14px;
            color: white;
            margin-left: auto;
            margin-right: auto;
        }
        .fab:hover {
            font-size: 16px;
        }
    }
    .icon:hover {
        border: white 2px solid;
    }
}

.hamburger {
    display: none;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    cursor: pointer;
    @media screen and (max-width: 894px) {
        display: block;
    }
    svg {
        fill: white;
    }
}
#s1 {
    height: 100%;
    min-height: 800px;
    width: 100%;
    position: relative;
    background-image: url(img/section1.png);

    .slid {
        padding-top: 360px;
        color: white;
        text-align: center;

        h1 {
            font-size: 80px;
            font-family: "gothambold1";
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            font-family: "GothamBook";
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        .a {
            background: #55b7ff;
        }
        .b {
            background: #7e5aff;
        }
        .c {
            background: tomato;
        }
        .d {
            background: yellow;
        }
    }
    .slick-dots {
        display: flex;
        flex-direction: column;
        left: 96%;
        top: -45%;
    }
    .slick-dots li {
        margin-bottom: 25px;
    }
    .slick-dots li button:before {
        content: "o";
        font-size: 24px;
        color: white;
        z-index: 1;
    }
    .slick-dots li.slick-active button:before {
        color: white;
        content: "•";
        font-size: 9px;
    }
    .scroll {
        text-align: center;
        position: absolute;
        top: 90%;
        left: 49%;
        .circle {
            border: white 1px solid;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            &:hover {
                border: white 2px solid;
            }
        }

        .abt {
            align-items: center;
            .bt {
                position: absolute;
                width: 1px;
                height: 5px;
                background-color: white;
                transform: rotate(45deg);
                left: 23px;
                top: 18px;
            }
            .bt:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 1px;
                height: 5px;
                background-color: white;
                transform: rotate(-90deg);
                transform-origin: 0% 100%;
            }
        }
    }
}
#s2 {
    height: 100%;
    min-height: 1630px;
    // min-width: 1600px;
    width: 100%;
    position: relative;
    .inner2 {
        height: 1632px;
        width: 85%;
        margin: 0 auto;
        padding-top: 80px;
        text-align: center;

        h1 {
            font-size: 44px;
            font-family: "gothambold1";
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 90px;
        }
        .divs1 {
            width: 100%;
            height: 45%;
            position: relative;
            display: flex;
            justify-content: space-between;

            .img1 {
                background: #55b7ff;
                width: 50%;
                height: 470px;
                float: left;
                margin-left: -75px;
            }
            .img1::before {
                content: "";
                display: block;
                position: relative;
                background-image: url(img/section2-1.png);
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                line-height: 0;
                margin-left: 140px;
                margin-top: 70px;
            }
            .text1 {
                width: 35%;
                height: 355px;
                padding-top: 70px;
                float: right;
                text-align: left;
                padding-right: -70px;
            }
            #myDetails {
                width: 190px;
                height: 50px;
                background: white;
                border: 1px solid black;
                font-size: 14px;
                font-family: "Gotham Book";
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    background: gray;
                    border: 1px solid blue;
                }
            }
            #moreDetails {
                display: none;
                position: fixed;
                left: 35%;
                top: 40%;
                width: 50%;
                height: 50%;
                background: #55b7ff;
                text-align: center;
                color: white;
                font-size: 16px;
                margin: 0 auto;
                z-index: 1;
                p {
                    margin: 20px;
                }
                form {
                    text-align: right;
                }
                #closes {
                    background: white;
                    // color: white;
                    font-family: "GothamBold";
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
        .fas {
            float: left;
        }
        .t1 {
            font-size: 22px;
            font-family: "GothamBook";
            margin: 0;
            text-transform: uppercase;
        }
        .t2 {
            font-size: 44px;
            font-family: "gothambold1";
            margin-top: 0;
            text-transform: uppercase;
        }
        .t3 {
            font-size: 18px;
            font-family: "Open Sans";
            margin-bottom: 40px;
        }
        .t4 {
            font-size: 18px;
            font-family: "Open Sans Italic";
            margin: 0;
            padding-left: 16px;
        }

        form {
            margin-bottom: 60px;
            text-align: left;
        }

        .divs2 {
            width: 100%;
            height: 45%;

            .text2 {
                padding-left: 70px;
                width: 35%;
                height: 355px;
                float: left;
                text-align: left;
            }
            .img2 {
                background: #7e5aff;
                width: 50%;
                height: 470px;
                float: right;
                margin-right: -215px;
                position: relative;
                top: -50px;
            }
            .img2::before {
                content: "";
                display: block;
                position: relative;
                background-image: url(img/section2-2.png);
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                line-height: 0;
                margin-left: -140px;
                margin-top: 70px;
            }
            #myDetails2 {
                width: 190px;
                height: 50px;
                background: white;
                border: 1px solid black;
                font-size: 14px;
                font-family: "Gotham Book";
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    background: gray;
                    border: 1px solid blue;
                }
            }
            #moreDetails2 {
                display: none;
                position: fixed;
                left: 5%;
                top: 40%;
                width: 50%;
                height: 50%;
                background: #7e5aff;
                text-align: center;
                color: white;
                font-size: 16px;
                margin: 0 auto;
                z-index: 1;
                p {
                    margin: 20px;
                }
                form {
                    text-align: right;
                }
                #closes2 {
                    background: white;
                    // color: white;
                    font-family: "GothamBold";
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
}
#s3 {
    height: 100%;
    min-height: 1035px;
    width: 100%;
    position: relative;
    background-image: url(img/section3.png);
    background-repeat: no-repeat;
    .inner3 {
        width: 85%;
        height: 1035px;
        margin: 0 auto;
        padding-top: 120px;
        text-align: center;
        h1 {
            font-size: 44px;
            font-family: "Gotham Medium Regular";
            text-align: center;
            margin: 0 auto;
            padding-bottom: 100px;
            padding-top: 40px;
            color: white;
            text-transform: uppercase;
        }
        .slide2 {
            width: 370px;
            height: 520px;
            position: relative;
            margin: 0 auto;
        }
        .slider2 {
            width: 370px;
            height: 520px;
            background: white;
        }
        h2 {
            margin: 0;
            font-size: 22px;
            font-family: "GothamBold";
            padding-top: 30px;
            padding-bottom: 25px;
            text-transform: uppercase;
        }
        .sl1 {
            font-size: 18px;
            font-family: "OpenSans";
            margin: 0;
            padding-bottom: 30px;
        }
        .sl2 {
            font-size: 18px;
            font-family: "GothamBook";
            margin: 0;
            text-align: left;
            padding-left: 100px;
            padding-top: 20px;
            text-transform: uppercase;
        }
        .sl3 {
            font-size: 14px;
            font-family: "GothamBook";
            color: #55b7ff;
            margin: 0;
            text-align: left;
            padding-left: 100px;
        }
        .person {
            float: left;
            padding-left: 20px;
        }
        .slick-dots li {
            margin-right: 25px;
            top: 20px;
        }
        .slick-dots li button:before {
            content: "o";
            font-size: 24px;
            color: white;
            z-index: 1;
        }
        .slick-dots li.slick-active button:before {
            color: white;
            content: "•";
            font-size: 9px;
        }

        .slick-prev {
            left: -100px;
        }

        .slick-next {
            right: -100px;
        }
    }
}
#s4 {
    height: 100%;
    width: 100%;
    position: relative;
    .inner4 {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        h1 {
            font-size: 44px;
            font-family: "Gotham Medium Regular";
            text-align: center;
            margin: 0 auto;
            padding-bottom: 100px;
            padding-top: 20px;
            text-transform: uppercase;
        }
        .all {
            display: flex;
            justify-content: space-between;
        }
        .one {
            width: 580px;
            height: 440px;
            background: url(img/section4-1.png);
            background-repeat: no-repeat;
            float: left;
            img {
                position: relative;
                top: 45%;
            }
        }
        .four {
            width: 580px;
            height: 440px;

            .imgFour {
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;
            }
        }
        #MyBtn {
            margin-top: 60px;
            margin-bottom: 60px;
            width: 200px;
            height: 50px;
            background: white;
            font-size: 14px;
            font-family: "GothamBook";
            text-transform: uppercase;
            cursor: pointer;
        }
        #myModal {
            display: none;
            position: fixed;
            left: 25%;
            top: 10%;
            width: 50%;
            height: 50%;
            background: url(img/section4-modal.png);
            background-repeat: no-repeat;
            text-align: right;
            margin: 0 auto;
            button {
                background: rgb(56, 57, 58);
                color: white;
                font-family: "GothamBold";
                cursor: pointer;
            }
        }
        p {
            align-items: center;
            font-size: 24px;
            color: white;
            margin: 0 auto;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

#s5 {
    height: 100%;
    min-height: 700px;
    width: 100%;
    position: relative;
    text-align: center;
    #map {
        height: 700px;
        width: 100%;
    }
    #getTouch {
        text-align: center;
        width: 770px;
        height: 450px;
        position: absolute;
        top: 60%;
        margin: 0 auto;
        left: 20%;
        right: 20%;
        z-index: 1;
        background: white;
        @media screen and (max-width: 894px) {
            width: 400px;
        }
        .line2 {
            margin-top: 60px;
            @media screen and (max-width: 894px) {
                margin-top: 20px;
            }
        }

        h1 {
            font-size: 44px;
            font-family: "Gotham Medium Regular";
            margin: 0 auto;
            padding-bottom: 40px;
            padding-top: 30px;
            text-transform: uppercase;
            @media screen and (max-width: 894px) {
                padding-top: 10px;
                padding-bottom: 15px;
            }
        }
        p {
            font-size: 18px;
            font-family: "GothamBook";
            margin: 20px;
            @media screen and (max-width: 894px) {
                margin: 10px;
            }
        }
        .dataForm {
            display: flex;
            justify-content: space-around;
            @media screen and (max-width: 894px) {
                flex-wrap: wrap;
            }
            .data {
                text-align: left;
            }
        }
        .contact {
            text-align: left;
            padding-top: 30px;
        }
        label {
            color: #c9ccd0;
        }
        #email {
            width: 310px;
            height: 20px;
            background: white;
            border: none;
            border-bottom: 1px solid #d5d9de;
        }

        #suBmit {
            font-size: 14px;
            font-family: "GothamBook";
            text-transform: uppercase;
            width: 140px;
            height: 50px;
            background: white;
            border: 1px solid black;
            margin-top: 30px;
            margin-left: 160px;
            cursor: pointer;
            @media screen and (max-width: 894px) {
                margin-left: 0;
            }
        }
    }
}
footer {
    min-height: 525px;
    // min-width: 1600px;
    width: 100%;
    position: relative;
    background: url(img/footer.png);
    .inner5 {
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 200px;
        flex-wrap: wrap;

        .line4 {
            position: absolute;
            top: 44%;
        }
        .end {
            display: flex;
            justify-content: space-between;
            width: 55%;
            padding-top: 50px;

            .fin {
                font-size: 14px;
                font-family: "GothamBook";
                color: white;
                margin: 0;
            }
        }
    }
}
